[Unit]
Description=KDE PolicyKit Authentication Agent
After=plasma-core.target

[Service]
ExecStart=/usr/lib/polkit-kde-authentication-agent-1
TimeoutStopSec=5sec
Restart=on-failure

[Install]
WantedBy=default.target
