{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always",
  "singleQuote": false,
  "vueIndentScriptAndStyle": false,
  "overrides": [
    {
      "files": [
        "*.prettierrc*",
        "*.json",
        "*.jsonc",
        "*.json5"
      ],
      "options": {
        "printWidth": 1
      }
    }
  ]
}
