[Unit]
Description=ActivityWatch Qt GUI
After=graphical-session.target

[Service]
ExecStart=/usr/bin/aw-qt
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
