format = """
${custom.opening}\
$username\
${custom.at}\
$hostname\
$directory\
${custom.closing}\
${custom.dollar} \
$git_branch\
$git_commit\
$git_state\
$git_status\
$docker_context\
$package\
$c\
$cpp\
$cmake\
$dotnet\
$golang\
$haskell\
$java\
$kotlin\
$gradle\
$lua\
$meson\
$nix_shell\
$nodejs\
$perl\
$php\
${custom.uv-python}\
${custom.uv-version}\
${custom.uv-lock}\
$ruby\
$rust\
$zig\
"""

add_newline = false

[custom.opening]
command = 'echo ['
when = true
style = 'bold yellow'
format = '[$output]($style)'

[username]
show_always = true
style_user = 'bold red'
format = '[$user]($style)'

[custom.at]
command = 'echo @'
when = true
style = 'bold purple'
format = '[$output]($style)'

[hostname]
ssh_only = false
ssh_symbol = ' 󰛳'
style = 'bold blue'
format = '[$hostname$ssh_symbol ]($style)'

[directory]
truncation_length = 1
read_only = ' 󰌾'
style = 'bold purple'
format = '[$path$read_only]($style)'

[custom.closing]
command = 'echo ]'
when = true
style = 'bold yellow'
format = '[$output]($style)'

[custom.dollar]
command = 'echo $'
when = true
style = 'bold purple'
format = '[$output]($style)'

[custom.number]
command = 'echo \#'
when = true
style = 'bold purple'
format = '[$output]($style)'

[git_branch]
always_show_remote = true
style = 'bold green'
format = '[$symbol$branch( ⎇  $remote_name/$remote_branch)]($style) '

[git_commit]
only_detached = true
tag_disabled = false
tag_symbol = '  '
style = 'bold green'
format = '[($hash$tag )]($style)'

[git_state]
style = 'bold yellow'
format = '\([$state( $progress_current/$progress_total)]($style)\) '

[git_metrics]
disabled = false
added_style = 'bold green'
deleted_style = 'bold red'
format = '([+$added ]($added_style))([-$deleted ]($deleted_style))'

[git_status]
conflicted = '=${count}'
ahead = '↑${count}'
behind = '↓${count}'
diverged = '↕${count}'
up_to_date = '${count}'
untracked = '?${count}'
stashed = '\$${count}'
modified = '!${count}'
staged = '+${count}'
renamed = '»${count}'
deleted = '✘${count}'
typechanged = '${count}'
style = 'bold white'
format = '([\[$all_status$ahead_behind\] ]($style))'

[docker_context]
only_with_files = false
symbol = ' '
style = 'bold blue'
format = '[$symbol$context ]($style)'

[package]
symbol = '󰏗 '
style = 'bold 208'
format = '[$symbol$version ]($style)'

[c]
symbol = ' '
style = 'bold 149'
format = '[$symbol$version ]($style)'

[cpp]
disabled = false
symbol = ' '
style = 'bold 149'
format = '[$symbol$version ]($style)'

[cmake]
symbol = ' '
style = 'bold blue'
format = '[$symbol$version ]($style)'

[dotnet]
symbol = '󰪮 '
style = 'bold blue'
format = '[$symbol$version ]($style)'

[golang]
symbol = ' '
style = 'bold red'
format = '[$symbol$version ]($style)'

[haskell]
symbol = ' '
style = 'bold purple'
format = '[$symbol$version ]($style)'

[java]
symbol = ' '
style = 'bold red'
format = '[$symbol$version ]($style)'

[kotlin]
symbol = ' '
style = 'bold blue'
format = '[$symbol$version ]($style)'

[gradle]
symbol = ' '
style = 'bold cyan'
format = '[$symbol$version ]($style)'

[lua]
symbol = ' '
style = 'bold blue'
format = '[$symbol$version ]($style)'

[meson]
symbol = '󰔷 '
style = 'bold blue'
format = '[$symbol$project ]($style)'

[nix_shell]
symbol = ' '
style = 'bold blue'
format = '[$symbol$state ($name )]($style)'

[nodejs]
symbol = ' '
style = 'bold green'
format = '[$symbol$version ]($style)'

[perl]
symbol = ' '
style = 'bold 149'
format = '[$symbol$version ]($style)'

[php]
symbol = ' '
style = 'bold 147'
format = '[$symbol$version ]($style)'

[python]
symbol = ' '
style = 'bold yellow'
format = '[$symbol$version (\($virtualenv\) )]($style)'

[custom.uv-python]
symbol = ' '
style = 'bold yellow'
command = """
if [ -n "$VIRTUAL_ENV" ]; then
  VERSION=$("$VIRTUAL_ENV/bin/python" --version 2>&1 | awk '{print $2}')
  VENV_NAME=${VIRTUAL_ENV_PROMPT:-$(basename "$VIRTUAL_ENV")}
  VENV_NAME=$(echo "$VENV_NAME" | tr -d "() ")
  echo "$VERSION ($VENV_NAME)"
  exit 0
fi
if command -v uv >/dev/null 2>&1; then
  uv python find --show-version
  exit 0
fi
if command -v python >/dev/null 2>&1; then
  VERSION=$(python --version 2>&1 | awk '{print $2}')
  echo "$VERSION"
fi
"""
format = "[$symbol$output ]($style)"
detect_extensions = ["py", "ipynb"]
detect_files = [
  ".python-version",
  "Pipfile",
  "__init__.py",
  "pyproject.toml",
  "requirements.txt",
  "setup.py",
  "tox.ini",
  "uv.lock",
  "pylock.toml",
]
detect_folders = [".venv", "venv"]

[custom.uv-version]
style = "bold fg:#de5fe9"
shell = "bash"
command = """
if command -v uv >/dev/null 2>&1; then
  echo "󰬂 v$(uv --version 2>&1 | awk '{print $2}')"
  exit 0
fi
"""
format = "[($output )]($style)"
detect_extensions = ["py", "ipynb"]
detect_files = [
  ".python-version",
  "Pipfile",
  "__init__.py",
  "pyproject.toml",
  "requirements.txt",
  "setup.py",
  "tox.ini",
  "uv.lock",
  "pylock.toml",
]
detect_folders = [".venv", "venv"]

[custom.uv-lock]
style = "bold fg:#d8ff64"
shell = "bash"
command = """
if ! command -v uv >/dev/null; then
  exit 1
fi
suffix=""
if uv lock --check-exists >/dev/null; test $? -eq 2; then
  suffix="?"
elif uv lock --check >/dev/null; test $? -eq 2; then
  suffix="!"
fi
if [ -n "$suffix" ]; then
  echo ["$suffix"]
fi
"""
format = "[($output )]($style)"
detect_extensions = ["py", "ipynb"]
detect_files = [
  ".python-version",
  "Pipfile",
  "__init__.py",
  "pyproject.toml",
  "requirements.txt",
  "setup.py",
  "tox.ini",
  "uv.lock",
  "pylock.toml",
]
detect_folders = [".venv", "venv"]

[ruby]
symbol = ' '
style = 'bold red'
format = '[$symbol$version ]($style)'

[rust]
symbol = '󱘗 '
style = 'bold red'
format = '[$symbol$version ]($style)'

[zig]
symbol = ' '
style = 'bold yellow'
format = '[$symbol$version ]($style)'

[os]
disabled = true
style = 'bold white'
format = '[$symbol]($style)'

[os.symbols]
Alpaquita = ' '
Alpine = ' '
AlmaLinux = ' '
Amazon = ' '
Android = ' '
Arch = ' '
Artix = ' '
CachyOS = ' '
CentOS = ' '
Debian = ' '
DragonFly = ' '
Emscripten = ' '
EndeavourOS = ' '
Fedora = ' '
FreeBSD = ' '
Garuda = '󰛓 '
Gentoo = ' '
HardenedBSD = '󰞌 '
Illumos = '󰈸 '
Kali = ' '
Linux = ' '
Mabox = ' '
Macos = ' '
Manjaro = ' '
Mariner = ' '
MidnightBSD = ' '
Mint = ' '
NetBSD = ' '
NixOS = ' '
Nobara = ' '
OpenBSD = '󰈺 '
openSUSE = ' '
OracleLinux = '󰌷 '
Pop = ' '
Raspbian = ' '
Redhat = ' '
RedHatEnterprise = ' '
RockyLinux = ' '
Redox = '󰀘 '
Solus = '󰠳 '
SUSE = ' '
Ubuntu = ' '
Unknown = ' '
Void = ' '
Windows = '󰍲 '
